In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../datasets/PH_houses_v2.csv")

In [3]:
df

,Description,Location,Price (PHP),Bedrooms,Bath,Floor_area (sqm),Land_area (sqm),Latitude,Longitude,Link
0,2-Bedroom Unit for Sale in Amisa Private Resid...,"Mactan, Lapu-Lapu","15,916,180",2,2,74,na,10.3051555,124.011241,https://www.lamudi.com.ph/2-bedroom-unit-for-s...
1,1-Bedroom Unit for Sale in Amisa Private Resid...,"Mactan, Lapu-Lapu","8,730,355",1,1,41,na,10.3051555,124.011241,https://www.lamudi.com.ph/1-bedroom-unit-for-s...
2,Offices at The Galleon - Prime Unit (11G) for ...,"San Antonio, Pasig","27,448,000",na,na,82,na,14.588716,121.060009,https://www.lamudi.com.ph/offices-at-the-galle...
3,1-Bedroom Unit (821) for Sale in Maple at Verd...,"Ugong, Pasig","16,011,000",1,na,58,na,14.588882,121.079016,https://www.lamudi.com.ph/1-bedroom-unit-821-f...
4,Alice 2 Storey Townhouse For Sale in Lancaster...,"Tapia, General Trias","1,935,600",3,na,40,40,14.35507,120.876425,https://www.lamudi.com.ph/alice-2-storey-townh...
...,...,...,...,...,...,...,...,...,...,...
1495,Pre-Selling 1BR Executive in The Sapphire Bloc...,"Ortigas CBD, Pasig","11,300,000",1,1,na,na,14.587518,121.062753,https://www.lamudi.com.ph/pre-selling-1br-exec...
1496,2-Bedroom Unit (11E) - Residences at The Galle...,"San Antonio, Pasig","41,924,000",2,2,114,na,14.588377,121.059897,https://www.lamudi.com.ph/2-bedroom-unit-11e-r...
1497,2BR Condo Unit for Sale in Ibiza Tower at Circ...,"Bagumbayan, Quezon City","14,278,110",2,2,67,na,14.605396,121.081903,https://www.lamudi.com.ph/2br-condo-unit-for-s...
1498,Condominium with 1 bedroom for Sale in One Lak...,"San Antonio, Davao","7,320,000",1,2,50,na,7.095857,125.630475,https://www.lamudi.com.ph/condominium-with-1-b...
1499,1-Bedroom Unit (S39D1) for Sale in Maven at Ca...,"Ortigas CBD, Pasig","11,054,400",1,1,47,na,14.583771,121.059675,https://www.lamudi.com.ph/1-bedroom-unit-s39d1...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Description       1500 non-null   object
 1   Location          1500 non-null   object
 2   Price (PHP)       1500 non-null   object
 3   Bedrooms          1500 non-null   object
 4   Bath              1500 non-null   object
 5   Floor_area (sqm)  1500 non-null   object
 6   Land_area (sqm)   1500 non-null   object
 7   Latitude          1500 non-null   object
 8   Longitude         1500 non-null   float64
 9   Link              1500 non-null   object
dtypes: float64(1), object(9)
memory usage: 117.3+ KB

In [5]:
# Convert relevant columns to float
df['Price (PHP)'] = pd.to_numeric(df['Price (PHP)'].str.replace(',', ''), errors='coerce')
df['Latitude'] = pd.to_numeric(df['Latitude'], errors='coerce')
df['Longitude'] = pd.to_numeric(df['Longitude'], errors='coerce')
df['Floor_area (sqm)'] = pd.to_numeric(df['Floor_area (sqm)'], errors='coerce')
df['Land_area (sqm)'] = pd.to_numeric(df['Land_area (sqm)'], errors='coerce')
df['Bedrooms'] = pd.to_numeric(df['Bedrooms'], errors='coerce')
df['Bath'] = pd.to_numeric(df['Bath'], errors='coerce')
# Display the updated DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Description       1500 non-null   object
 1   Location          1500 non-null   object
 2   Price (PHP)       1460 non-null   float64
 3   Bedrooms          1380 non-null   float64
 4   Bath              867 non-null    float64
 5   Floor_area (sqm)  1442 non-null   float64
 6   Land_area (sqm)   329 non-null    float64
 7   Latitude          1479 non-null   float64
 8   Longitude         1500 non-null   float64
 9   Link              1500 non-null   object
dtypes: float64(7), object(3)
memory usage: 117.3+ KB

In [ ]:
df["City"] = df["Location"].str.split(", ").str[1]
df["Bath"] = df["Bath"].fillna(1)
df["Land_area (sqm)"] = df["Land_area (sqm)"].fillna(df["Floor_area (sqm)"])

In [7]:
df.describe().apply(lambda s: s.apply('{0:.5f}'.format))

,Price (PHP),Bedrooms,Bath,Floor_area (sqm),Land_area (sqm),Latitude,Longitude
count,1460.00000,1380.00000,1500.00000,1442.00000,1476.00000,1479.00000,1500.00000
mean,14595543.02740,1.76304,1.19133,70.51872,864.68970,14.14331,121.29895
std,13060869.30647,0.97597,0.47771,52.15040,27344.49910,1.58984,0.96091
min,850000.00000,1.00000,1.00000,16.00000,16.00000,7.08675,120.54822
25%,5962000.00000,1.00000,1.00000,43.00000,45.00000,14.43467,121.03900
50%,11088000.00000,1.00000,1.00000,58.00000,59.50000,14.58377,121.06001
75%,17743600.00000,2.00000,1.00000,84.00000,92.00000,14.58888,121.07902
max,175265000.00000,5.00000,6.00000,1136.00000,1050174.00000,16.41960,125.64897

In [ ]:
filtered_df = df[
    ~df["Price (PHP)"].isnull()
    & ~df["Bedrooms"].isnull()
    & ~df["Floor_area (sqm)"].isnull()
    & ~df["Land_area (sqm)"].isnull()
    & ~df["Latitude"].isnull()
    & ~df["City"].isnull()
]
filtered_df

,Description,Location,Price (PHP),Bedrooms,Bath,Floor_area (sqm),Land_area (sqm),Latitude,Longitude,Link,City
0,2-Bedroom Unit for Sale in Amisa Private Resid...,"Mactan, Lapu-Lapu",15916180.0,2.0,2.0,74.0,74.0,10.305155,124.011241,https://www.lamudi.com.ph/2-bedroom-unit-for-s...,Lapu-Lapu
1,1-Bedroom Unit for Sale in Amisa Private Resid...,"Mactan, Lapu-Lapu",8730355.0,1.0,1.0,41.0,41.0,10.305155,124.011241,https://www.lamudi.com.ph/1-bedroom-unit-for-s...,Lapu-Lapu
3,1-Bedroom Unit (821) for Sale in Maple at Verd...,"Ugong, Pasig",16011000.0,1.0,1.0,58.0,58.0,14.588882,121.079016,https://www.lamudi.com.ph/1-bedroom-unit-821-f...,Pasig
4,Alice 2 Storey Townhouse For Sale in Lancaster...,"Tapia, General Trias",1935600.0,3.0,1.0,40.0,40.0,14.355070,120.876425,https://www.lamudi.com.ph/alice-2-storey-townh...,General Trias
5,"Studio Condo Unit (6B) for Sale in One Sierra,...","Highway Hills, Mandaluyong",7587013.0,1.0,1.0,32.0,32.0,14.578255,121.052143,https://www.lamudi.com.ph/studio-condo-unit-6b...,Mandaluyong
...,...,...,...,...,...,...,...,...,...,...,...
1493,"Suntrust Amadea Tower 2, 2-Bedroom Unit for Sa...","Paligsahan, Quezon City",5479920.0,2.0,1.0,36.0,36.0,14.646511,120.996952,https://www.lamudi.com.ph/suntrust-amadea-towe...,Quezon City
1496,2-Bedroom Unit (11E) - Residences at The Galle...,"San Antonio, Pasig",41924000.0,2.0,2.0,114.0,114.0,14.588377,121.059897,https://www.lamudi.com.ph/2-bedroom-unit-11e-r...,Pasig
1497,2BR Condo Unit for Sale in Ibiza Tower at Circ...,"Bagumbayan, Quezon City",14278110.0,2.0,2.0,67.0,67.0,14.605396,121.081903,https://www.lamudi.com.ph/2br-condo-unit-for-s...,Quezon City
1498,Condominium with 1 bedroom for Sale in One Lak...,"San Antonio, Davao",7320000.0,1.0,2.0,50.0,50.0,7.095857,125.630475,https://www.lamudi.com.ph/condominium-with-1-b...,Davao
1499,1-Bedroom Unit (S39D1) for Sale in Maven at Ca...,"Ortigas CBD, Pasig",11054400.0,1.0,1.0,47.0,47.0,14.583771,121.059675,https://www.lamudi.com.ph/1-bedroom-unit-s39d1...,Pasig

In [18]:
filtered_df.isnull().sum()

Description         0
Location            0
Price (PHP)         0
Bedrooms            0
Bath                0
Floor_area (sqm)    0
Land_area (sqm)     0
Latitude            0
Longitude           0
Link                0
City                0
dtype: int64